<sidequest-xp-header></sidequest-xp-header>

<div fxLayout="row wrap" class="add-margin product-details">
  <div fxFlex="50%">
    <div style="display: flex" fxLayout.xs="column">
      <!-- <img
        *ngFor="let smallImage of product.imageCollection"
        style="cursor: pointer; border: solid 0.1px; margin: 5px; height: 100px;"
        mat-card-image
        [src]="smallImage"
      /> -->
    </div>
    <img mat-card-image [src]="product?.image" class="main-img" />
  </div>
  <div>
    <div>
      <span class="product-name">{{ product?.name }}</span>
    </div>
    <div fxLayout="row" class="add-margin">
      <span style="font-size: 16px !important; line-height: 24px !important">{{
        'PRODUCT_DETAILS.ABOUT_THE_ITEM' | translate
      }}</span>
      <br />
    </div>
    <div fxLayout="row" class="add-margin">
      <span class="product-description">{{ product?.description }}</span>
    </div>
    <div fxLayout="row" class="add-margin">
      <button (click)="addItemToCart(product)" mat-raised-button color="warn">
        {{ 'PRODUCT_DETAILS.ADD_TO_CART' | translate }}
      </button>
    </div>
  </div>
</div>
