.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-img {
  max-height: 70%;
  max-width: 70%;
  border: solid 0.1px;
}

.product-name {
  font-size: 24px !important;
  line-height: 32px !important;
}

.product-description {
  font-size: 16px !important;
  line-height: 24px !important;
}

.add-margin {
  margin-top: 20px;
}
