<mat-card class="product-card">
  <img mat-card-image [src]="product?.image" />
  <mat-card-content>
    <p>
      {{ product.name }}
    </p>
    <p>{{ product.description }} - {{ product.category }}</p>
    <p>R$ {{ product.price }}</p>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="warn" (click)="addItem(product)">
      {{ 'PRODUCT.ADD_TO_CART' | translate }}
    </button>
    <button
      (click)="redirectToProductDetails(product.id)"
      mat-raised-button
      color="primary"
    >
      {{ 'PRODUCT.DETAILS' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
